/*
@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');

body {
    font-size: 14px;
    font-family: 'Livvic', sans-serif;
    background: rgb(176, 208, 211);
}


h1 {
    font-size: 2rem;
}

.dot {
    height: 100px;
    width: 100px;
    background: white;
    border-radius: 50%;
    margin: 2rem;

}
*/
#index-title {
    margin: 250 0;
}
